# Datasets
data/**

# Pretrained weights
*.pth
flownet/pretrained/**

# Results & logs
results/**
weights/**

# Python cache
__pycache__/
*.pyc
*.pyo

# Conda / venv
.env
.venv

# OS / editor
.DS_Store
.vscode/

